canvas {
    display: block;
}

#particles-js {
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(top, #000000 1%, #0c0c24 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -50;
}